BETTER_AUTH_SECRET=troque-este-valor-em-producao
BETTER_AUTH_URL=http://localhost:3000


S3_ENDPOINT=http://localhost:4568
S3_REGION=us-east-1
S3_BUCKET=leaf-uploads
S3_ACCESS_KEY_ID=S3RVER
S3_SECRET_ACCESS_KEY=S3RVER
